* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}

body {
  background-color: rgb(246, 246, 246);
  color: rgb(115, 115, 115);
}
/* HEADER */

header {
  background-color: rgb(12, 40, 62);
  padding: 0.7em 0;
}
.container-header {
  display: flex;
  color: white;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header-container {
  max-width: 1200px;
}
.header-left {
  display: flex;
  align-items: flex-end;
  font-size: 1.3em;
}
.header-left p {
  line-height: 0;
}
strong {
  line-height: 1;
}
.header-right {
  margin-left: auto;
  justify-content: space-between;
}
.header-right ul {
  list-style: none;
  justify-content: space-between;
  display: flex;
}
.header-right li {
  padding-left: 2em;
}
.header-right a {
  text-decoration: none;
  color: white;
}

/* JUMBTRON */

.jumbotron {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(75, 172, 233, 0.7)
    ),
    /* bottom, image */ url("./img/house.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  padding: 3em 0;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  color: black;
}

.jumbotron-left {
  display: flex;
  width: 60%;
  flex-direction: column;
  padding: 3em;
  background-color: rgba(255, 255, 255, 0.7);
}
.jumbotron-left h3 {
  font-weight: 100;
}

.jumbotron-left a {
  color: rgb(115, 115, 115);
}
.btn-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}
.btn-top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.btn-bottom {
  display: flex;
}

.btn {
  padding: 0.7em 0;
  background-color: rgb(75, 172, 233);
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  flex-grow: 1;
  margin: 0.2em;
  cursor: pointer;
  margin-left: 0;
}

/* Calculator - Top */

.calc-inner {
  background-color: white;
  margin: 2em 0;
  padding: 1em;
  color: rgb(115, 115, 115);
}

.calc-inner h1 {
  color: rgb(75, 172, 233);
}

.calc-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin: 1em;
}

.icon-card {
  padding: 1em;
  border-radius: 5px;
}
.icon-card p {
  text-transform: uppercase;
}
.icon-card a {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
.icon-card:last-child a {
  color: rgb(75, 172, 233);
}
.icon-card:first-child {
  background-color: rgb(75, 172, 233);
  color: white;
}
.icon-card:last-child {
  color: rgb(75, 172, 233);
  background-color: white;
  border: 2px solid rgb(75, 172, 233);
}

/* Calculator - Bottom */

.input-card {
  width: 30%;
  background-color: rgb(230, 230, 230);
  padding: 1em;
  border-radius: 5px;
  border: rgb(115, 115, 115) solid 1px;
}
.input-card h4 {
  text-align: center;
  padding-bottom: 1em;
}
.input-card form label {
  display: block;
}
.input-card form input {
  width: 100%;
  border: rgb(115, 115, 115) solid 1px;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 5px;
}
.input-card form input:focus {
  outline: none;
}

select {
  width: 100%;
  border: rgb(115, 115, 115) solid 1px;
  padding: 1em;
  font-size: 1em;
  border-radius: 5px;
}
